.container{
    border: 5px double black;
    width: 360px;
    padding: 10px 20px;
    border-radius: 20px;
    display: block;
    margin: 70px auto;
    background-color: #ccf2ff;
}

.app-heading{
    color: #0099cc;
    text-align: center;
}

.num-input{
    width: 80%;
    display: block;
    margin: 20px auto;
    font-size: 15px;
    padding: 7px;
    border-radius: 5px;
}

.text-result{
    font-size: 20px;
    font-weight: bold;
    color: #0099cc;
}

.btn-result{
    padding: 8px;
    width: 70px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #007399;
    font-weight: bold;
    cursor: pointer;
}

.btn-result:hover{
    border-radius: 20px;
    transition: 0.8s;
    color: black;
    background-color: #66d9ff;
}