.container{
    border: 5px double black;
    width: 360px;
    padding: 10px 20px;
    border-radius: 20px;
    display: block;
    margin: 70px auto;
    background-color: #ccf2ff;
}

.app-heading{
    color: #0099cc;
    text-align: center;
}

.text-result{
    font-size: 20px;
    font-weight: bold;
    color: #0099cc;
}